body {
    font-family: Arial, sans-serif;
    line-height: 1.4; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: justify;
}

.container {
    max-width: 900px;
    margin: 10px auto;
    padding: 8px 60px 8px 40px; 
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.about p {
    text-align: justify;
    margin-bottom: 25px;
}

.job {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 10px;
}

.skills {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-top: 10px;
}

header {
    text-align: center;
    margin-bottom: 10px; 
}

header h1 {
    margin: 0;
    font-size: 22px; 
    color: #444;
}

header p {
    margin: 3px 0; 
    color: #6d6d6d;
}

header a {
    color: #6d6d6d;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 6px; 
}

section h2 {
    font-size: 18px; 
    border-bottom: 1px solid #b3b1b1;
    padding-bottom: 3px; 
    margin-bottom: 8px; 
}

section ul {
    padding-left: 18px;
}

section ul li {
    margin-bottom: 3px; 
}

.job h3 {
    font-size: 16px; 
    margin-bottom: 2px; 
    color: #444;
}

.buttons-container {
    display: flex;
    gap: 10px; 
    justify-content: flex-end; 
    margin-top: 10px; 
}

button {
    white-space: nowrap; 
    padding: 8px 12px; 
    font-size: 14px; 
    border-radius: 4px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.2s ease, box-shadow 0.2s ease; 
    background-color: #dbdcdd; 
    color: #4d4c4c; 
}

button:hover {
    background-color: #4076ac; 
    color: #ffffff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

button:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(86, 132, 179, 0.3); 
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {
    .container {
        padding: 8px 15px;
    }

    header h1 {
        font-size: 18px;
    }

    header p {
        font-size: 14px;
    }

    section h2 {
        font-size: 16px;
    }

    section ul {
        padding-left: 15px;
    }

    section ul li {
        font-size: 14px;
    }

    .job h3 {
        font-size: 14px;
    }

    #generate-pdf {
        font-size: 11px;
        padding: 2px 5px;
        margin: 5px 2px 10px;
    }

    #idioma {
        font-size: 11px;
        padding: 2px 5px;
        margin: 5px 2px 10px;
    }
}
